{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                sasa
            </div>
        </div>
    </div>
{% endblock %}