{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <br />
                    {{ field.label }} <br />
                    <span class="text-danger">{{ field.errors }} <br /></span>
                    {{ field.as_widget }} <br />
                    <br />
                    {{ field.help_text }}
                    <hr />
                </div>
            {% endfor %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}