{% extends 'base.html' %}

{% block content %}
    <div style="margin-bottom: 30px;">
        <button type="button" style="float: right;" onclick="window.location = '/new'">
            Add new one
        </button>
    </div>
    <div>
        {% for auto in autos %}
            <span>
                Name: {{ auto }} <br />
                Price: ${{ auto.price }} <br />
                Year: {{ auto.production_year }} <br />
                Mileage: {{ auto.mileage }} <br />
                Engine: {{ auto.engine_volume }} sm<sup>3</sup>
            </span>
            <hr>
        {% endfor %}
    </div>
{% endblock %}