{% extends 'base.html' %}

{% block content %}
<style>
    .hidden {
        display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}

                <div>
                    <label>
                        Make:
                        <select name="brand">
                            <option selected value="0">--Select--</option>
                            {% for brand in brands %}
                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>

                <div id="modelAndSeries" style="display:none;margin-top:30px;">
                    <label>
                        Model Series:
                        <select name="model">

                        </select>
                    </label>
                </div>

                <div>
                    {% for field in form %}
                        <div class="my-3">
                            {{ field.label_tag }}
                            {{ field.as_widget }}
                            <span class="text-danger">
                                {{ field.errors }}
                            </span>
                        </div>
                    {% endfor %}
                </div>

                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    $('select[name="brand"]').on('change', function() {
        if($(this).val() == 0) {
            $('#modelAndSeries').hide();
            return;
        }

        let id = $(this).val();

        $.ajax({
            url: '/api/getBrands/',
            type: 'post',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: id
            },
            dataType: 'json',
            success: r => {
                if(!r.status) {
                    alert('An error occurred. Please try again.');
                    return;
                }

                let select = $('select[name="model"]');
                select.html('');

                for(let s of r.series) {
                    select.append(
                        `<option>---${s.name}</option>`
                    );

                    for(let m of s.models) {
                        select.append(
                            `<option value="${m.id}">${m.name}</option>`
                        );
                    }
                }

                $('#modelAndSeries').show();
            },
            error: err => {
                console.log(err);
            }
        })
    })
</script>
{% endblock %}